@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.container__header {
  padding: 36px 32px;
  font-family: "Poppins";
  background-image: url("../public/assets/HeroSection.svg");
  height: 1210px;
  color: white;
  display: flex;
  flex-direction: column;
}
.container__header .header-nav {
  display: flex;
  justify-content: space-between;
}
.container__header .header-nav .nav-menu {
  display: none;
}
.container__header .header-nav .nav-logo {
  display: flex;
  flex-direction: row;
}
.container__header .header-tittle {
  font-family: "Playfair Display";
  font-weight: 400px;
  margin-block-start: 100px;
  font-style: italic;
  font-size: 48px;
  height: 53px;
}
.container__header .header-subtittle {
  font-family: "Rubik";
  font-weight: 400px;
  font-size: 22px;
  text-align: left;
  height: 21px;
  margin-block-start: 115px;
}
.container__header .header-destination {
  background-color: white;
  height: 595px;
  width: 288px;
  left: 16px;
  top: 515px;
  border-radius: 16px;
  margin-block-start: 120px;
}
.container__header .header-destination .destination-form {
  height: 515px;
  color: black;
}
.container__header .header-destination .destination-form .form-imput {
  color: #767e86;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.container__header .header-destination .destination-form .form-imput input {
  border: none;
  border-bottom: 1px solid;
  margin-block-start: 10px;
  height: 40px;
  font-family: "Playfair Display";
}
.container__header .header-destination .destination-book {
  background-color: #ff7757;
  height: 128px;
  width: 288px;
  left: 0px;
  top: 467px;
  padding: 40px 20px 40px 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  justify-content: space-between;
}
.container__header .header-destination .destination-book .book-now {
  font-size: 36px;
  font-family: "Playfair Display";
}
.container__header .header-destination .destination-book .book-arrow {
  display: flex;
  margin-block-start: 14px;
}

main {
  padding: 0 1rem;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 4rem 0;
}
.block__header {
  display: flex;
  flex-direction: column;
}
.block__header__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  color: #172432;
}
.block__header__orange-line {
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
  margin-right: 50%;
  border: 0.01rem solid orange;
}
.block__header__description {
  font-family: "Rubik";
  font-size: 1.1rem;
}
.block__main {
  margin-top: 4rem;
}
.block__main__list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  padding: 0;
}
.block__main__list__item {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.block__main__list__item img {
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.block__main__list__item__description {
  color: white;
  width: 16rem;
  height: 20%;
  padding-left: 1.2rem;
  position: absolute;
  top: 70%;
}
.block__main__list__item__description__title {
  font-size: 1.4rem;
  font-family: "Playfair Display";
  font-weight: 500;
  margin-bottom: 1rem;
}
.block__main__list__item__description__ubication {
  font-family: "Rubik";
  font-size: 1.05rem;
  display: flex;
}
.block__main__list__item__description__ubication img {
  width: 12px;
  height: 16px;
  margin-right: 0.8rem;
}
.block__main__list__item__description__ubication p {
  font-size: 1.1rem;
}
.block__nav-buttons {
  margin-top: 6rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
