@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
.container__header {
  padding: 36px 32px;
  font-family: "Poppins";
  background-image: url("../public/assets/HeroSection.svg");
  height: 1210px;
  color: white;
  display: flex;
  flex-direction: column;
  .header-nav {
    display: flex;
    justify-content: space-between;
    .nav-menu {
      display: none;
    }
    .nav-logo {
      display: flex;
      flex-direction: row;
    }
  }
  .header-tittle {
    font-family: "Playfair Display";
    font-weight: 400px;
    margin-block-start: 100px;
    font-style: italic;
    font-size: 48px;
    height: 53px;
    text-align: left;
  }
}
.header-subtittle {
  font-family: "Rubik";
  font-weight: 400px;
  font-size: 22px;
  text-align: left;
  height: 21px;
  margin-block-start: 115px;
}

.container__footer {
  background-color: #0b171e;
  padding: 50px;
  color: white;
  font-family: "Poppins";
  font-style: Medium;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  .footer-tittle {
    font-size: 30px;
    margin-left: 10px;
  }
  .tittle-small {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: white;
    line-height: 16.69px;
    margin-left: 10px;
  }
  .small-menu {
    display: flex;
    font-size: 16px;
    font-family: "Rubik";
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin-left: 0;
  }
  .menu-list {
    list-style: none;
  }
  .list-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  .container__footer {
    flex-direction: row;
  }
}
