@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
.container__header {
  padding: 36px 32px;
  font-family: "Poppins";
  background-image: url("../public/assets/HeroSection.svg");
  height: 1210px;
  color: white;
  display: flex;
  flex-direction: column;
  .header-nav {
    display: flex;
    justify-content: space-between;
    .nav-menu {
      display: none;
    }
    .nav-logo {
      display: flex;
      flex-direction: row;
    }
  }
  .header-tittle {
    font-family: "Playfair Display";
    font-weight: 400px;
    margin-block-start: 100px;
    font-style: italic;
    font-size: 48px;
    height: 53px;
    text-align: left;
  }
}
.header-subtittle {
  font-family: "Rubik";
  font-weight: 400px;
  font-size: 22px;
  text-align: left;
  height: 21px;
  margin-block-start: 115px;
}

.container_footer {
  background-color: #0b171e;
  color: white;
  font-family: "Poppins";
  font-size: 10px;
  display: flex;
  padding: 14px;
  padding-inline-end: 135px;
  flex-direction: column;
  padding-block-start: 40px;
  .footer-tittle {
    font-size: 30px;
  }
}
